*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #7777;
    height: 10000px;

}
.container{
    width:1200px;
    margin: auto;
}
.btn{
    line-height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: transparent;
    border: 1px solid #fff;
    color: #ffffff;
    font-weight: 500 ;
    text-transform: uppercase;
   
}
.heading{
    text-align: center;
    margin-bottom: 90px;
}
.heading h3{
   color: rgb(0, 0, 0);
   font-size: 30px;
   margin-bottom: 23px;
}
.heading p{
    width: 40%;
    margin: auto;
     color: #6e6e6c;
     font-size: 16px; 
    font-weight: 300;
    line-height: 1.5em;
}
/*start nav*/
nav{
    overflow:auto;
    padding: 8px 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    
}
nav .logo{
    float: left;
    width: 70%;
}
nav .logo img {
    width: 13%;
    padding: 4px 0;
}
nav .list{
    float: left;
    width: 30%;

} 
nav .list ul {
    list-style: none;
}
nav .list ul li a {
    text-decoration: none;
    float: left; 
    padding: 8px 13px;
    color: #fff;    
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;                          
    
}

nav .list ul li a:hover{
    color: #f3487f;
}
/*end nav*/
/*start header*/
header{
    background: url(../img/banner-bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 1200px;
   position: relative;
}
header .overlay-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(132, 96, 246, 0.8);

}
header .header-info{
    position: absolute;
    z-index: 2;
    top: 25%;
    left:25%;
    width: 50%;
    text-align: center;
    color: #fff;
}
header .header-info h1{
    font-size: 60px;
    font-weight: 100;
    line-height: 80px;
    margin-bottom: 20px;


}
header .header-info p{

        margin-bottom: 60px;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 60px;
        color: #666363;
    }



/*end header*/

/*start History*/
.History{
    background-color: #f2f5f7;
    padding: 70px 0;
    overflow: auto;
}
.History .History-dec{
    width: 100%;
    height:450px ;
    background-color: white;
}
 .History .History-img{
    float: left;
    width: 33.3333%;
    
 }
 .History .History-img img{

    margin: -25px 25px;
 }


 .History  .History-info{
    float: left;
    width: 50%;  
    margin-left: 90px;
    margin-top: 36px;
    padding: 24px;
  
    
 }
 .History .list-btn .btn:first-child{
    padding: 0 35px;
    background-color:#6a4dc5 ;
    color:#fff ;
    line-height: 35px;
    border: 1px solid transparent;
    margin-bottom: 50px;
}
.History .list-btn .btn{
    padding:0 35px;
    background-color: transparent;
    border: 1px solid #7777;
    color:#7777;
    
   text-transform: capitalize;
   line-height: 35px;
   

}
.History .list-btn .btn:hover{
    background-color: #6a4dc5;
    color: rgb(255, 255, 255);
}

.History  .History-info h3{
    color:rgb(0, 0, 0) ;
    font-size: 27px;
    margin-bottom:22px ;
}


.History  .History-info p{
    color:#777777;
    font-size: 14px;
    }

/*end History*/

/*start skill*/
.skils{
    background: #f3487f;
    height: 584px;
}
.skils .skils-info{
    float: left;
    width: 25%;
   
    
    

}
.skils .skils-info .skils-icon{
    background-color: #fff;
    text-align: center;
    padding: 98px 0;
}
.skils .skils-info .skils-icon:hover{
    background-color: #f3487f;
    color: #fff;
}
.skils .skils-info .skils-icon:hover p{
    color: #fff;
}
.skils .skils-info .skils-icon:hover i{
    color: #fff;
}

.skils .skils-info .skils-icon p{
    color: black;
    font-size: 20px;
    margin-top: 20px;
}

.skils .skils-info .skils-icon .icons{
    color: #f3487f;
    font-size: 30px;
    margin-bottom: 20px;
    
}
.skils .skils-info .skils-dec{
    background-color: #6f7598;
    padding: 96px 26px;
    color: #fff;
    text-align: center;
}



/*end skill*/
/*start Experiences*/
.Experiences{
    padding: 70px 0;
}

.Experiences .Vector .Vector-info{
    float: left;
    width: 25%;
   
}
.Experiences .Vector .Vector-info .Vector-img img{
    width: 90%;
}

.Experiences .Vector .Vector-dec{
    float: left;
    width:50% ;
  

}
.Experiences .Vector .Vector-dec{
  padding: 30px 0;
}
.Experiences .Vector .Vector-dec h2{
    color: rgb(238, 0, 0);
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.Experiences .Vector .Vector-dec h5{
    color: #000;
}

.Experiences .Vector .Vector-dec p{}

.Experiences .Vector .Vector-dec .btn{}

/*end Experiences*/